.owl-theme .owl-dots .owl-dot span {
    border: 2px solid #3399ff;
    background: transparent;
    width: 9px;
    height: 9px;
  }
  
  .owl-theme .owl-dots .owl-dot.active span {
    border: 2px solid #3399ff;
    background-color: #3399ff;
    width: 20px;
    height: 9px;
  }
  
  .owl-theme .owl-dots .owl-dot:hover span {
    border: 2px solid #3399ff;
    background-color: #3399ff;
  }
  