.product-title {
    text-align: center;
    font-weight: 400;
}

.product-nav-thumbs img{
    cursor: pointer;
}

.quantity-controls {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px; /* Adjust spacing between buttons and quantity */
    margin: 0 auto; /* Center horizontally within parent */
    padding: 10px 0; /* Optional: Add some vertical padding */
  }

  .product.product-7{
    border: 1px solid rgb(231, 231, 231);
    border-radius: 5px;
  }