.wishlist-media{
    background-color: #f8f8f8;
}

img.wishlist-media , .btn{
    border-radius: 5px;
}

.table .price-col {
    text-align: right;
}

.table .remove-col{
    padding-right: 15px;
}

@media (max-width: 990px) {
    .table .price-col {
        text-align: center;
    }
}

.btn{
    margin-left: 25px;
}
